<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        <textarea name="input_mm" cols="30" rows="10"></textarea>
        <input type="submit">
        <textarea name="" id="" cols="30" rows="10">{{ conv }}</textarea>
    </form>
    <a href="/unicodetozawgyi">Unicode >> Zawgyi</a><br>
    <a href="/zawgyitounicode">Zawgyi >> Unicode</a>
</body>
</html>